{% extends 'layout.html.twig' %}

{% block title %}Edition {% endblock %}

{% block body %}
    <h1 class="t2">Edition</h1>

    {{ include('evenements/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('evenements_index') }}">back to list</a>

{% endblock %}
