<p>Bonjour,</p>

<p>Nous aimerions recevoir vos retours par rapport à la dernière activité à laquelle vous avez participer.</p>

<p>Nous vous invitions à suivre ce lien et à remplir le formulaire de satisfaction : </p>

<p><a href="{{ url('form_users', {'id':toto}, {'startupid':startupId}) }}">Formulaire</a></p>


<p>Cordialement,</p>
<p>L'équipe Cop Lab'o</p>