{% extends 'layout.html.twig' %}

{% block title %}Configuration et envoi du formulaire{% endblock %}

{% block titre %}{{ event.name }} <br/>du {{ event.date | date('d-m-y') }}{% endblock %}

{% block body %}
    <h1 class="t2">Configuration et envoi du formulaire</h1>
<div class=" col-8 text-center mt-4">

    {{ include('evenements/_form.html.twig', {'button_label': 'Envoyer'}) }}
</div>
    {% endblock %}

{% block footer %}{% endblock %}
