{% extends 'base.html.twig' %}

{% block title %}Gestion du mailing{% endblock %}

{% block body %}
    <h1>Gestion du mailing</h1>
    <a href="{{ path('create_custom_form', {'id': id }) }}"><button>Créer un formulaire</button></a>
    {{ include('evenements/_form.html.twig', {'button_label': 'Envoyer'}) }}
{% endblock %}

{% block footer %}{% endblock %}