{% extends 'layout.html.twig' %}

{% block title %}Formulaire validé{% endblock %}

{% block body %}
    <h1 class="t2">Formulaire validé</h1>
    <p>Merci d'avoir répondu au formulaire</p>
{% endblock %}
