{% extends 'layout.html.twig' %}

{% block title %}Formulaire validé{% endblock %}
{% block titre %} La COP <br/>du LAB'O{% endblock %}

{% block head %}
{% endblock %}
{% block body %}
    <h1 class="t2 mt-5">Formulaire validé</h1>
    <p>Merci d'avoir répondu au formulaire</p>
{% endblock %}
