{% extends 'layout.html.twig' %}

{% block title %}COP LABO{% endblock %}

{% block titre %} La COP <br/>du LAB'O{% endblock %}


{% block body %}
    <div class="align-content-center">
        <div class="firstPage m-5 ">
            <a href="#" class="btn btn-secondary"><h1 class="pt-5">Les startups</h1></a>
        </div>
        <div class="firstPage m-5 ">
            <a href="#" class="btn btn-secondary"><h1 class="pt-5">Les services</h1></a>
        </div>
        <div class="firstPage m-5 ">
            <a href="#" class="btn btn-secondary"><h1 class="pt-5">Les statistiques</h1></a>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
