{% extends 'base.html.twig' %}

{% block title %}COP LABO{% endblock %}

{% block titre %} La COP <br/>du LAB'O{% endblock %}


{% block body %}
    <div class="align-content-center">
        <a href="{{ path('start_up_index') }}">
        <div class="shiny-btn text-center">
            Les startups
        </div>
        </a>
        <a href="{{ path('evenements_index') }}">
        <div class="shiny-btn text-center">
            Les services
        </div>
        </a>
        <a href="{{ path('statistics') }}">
        <div class="shiny-btn text-center   ">
            Les statistiques
        </div>
        </a>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
