<form method="post" action="{{ path('start_up_relation_delete', {'id': start_up_relation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ start_up_relation.id) }}">
    <button class="btn">Delete</button>
</form>
