{% extends 'layout.html.twig' %}

{% block title %}Attributions{% endblock %}

{% block titre %}{{ evenement.name }}<br/> du {{ evenement.date|date('d-m-y') }}{% endblock %}

{% block body %}
    <h2>Attribution de Startups à l'événement</h2>
    {{ include('attribution/_form.html.twig') }}
{% endblock %}
