{% extends 'base.html.twig' %}

{% block title %}New ChampsSoumis{% endblock %}

{% block body %}
    <h1>Create new ChampsSoumis</h1>

    {{ include('champs_soumis/_form.html.twig') }}

    <a href="{{ path('champs_soumis_index') }}">back to list</a>
{% endblock %}
