body {
    background-color: #eaeaea;
    color: #000000;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.bg_layout {
    position: fixed;
    top: 50%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%);
}

a {
    color: black;
}

a:hover {
    color: #dc3545;
}
.margetop{
    margin-top: 180px;
}
*{
    font-family: 'Montserrat', sans-serif;
}
.t2 {
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.titre {
    margin-top: 28vh;
    margin-left: 7vw;
    position: relative;
    font-weight: bold;
    font-size: 5em;
}

.firstPage .btn-secondary {
    margin-left: 20vw;
    height: 20vh;
    width: 30vw;
    margin-top: 3vh;

}


.form {
    font-weight: bolder;
    text-align: left;
    margin-left: 20vw;
    margin-top: 20vh;
}

.element{
    justify-content: center;

}

.body_card{
    background-image: url("/assets/img/bg_layout.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    height: 95vh;
}

.contact_pic{
    border: 20px solid #FFFFFF;
}

.contact_table .gros{
    font-size: 2em;
}

.gros_titre{
    font-size: 3.5em;
}