@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    animation-duration:1s;
}

.fade-in.one {
    -webkit-animation-delay: 0.5s;
}

body {
    background-color: #eaeaea;
    color: #000000;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.bg_layout {
    position: fixed;
    top: 50%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%);
}

.margetop{
    margin-top: 150px;
}

*{
    font-family: 'Montserrat', sans-serif;
}

.t2 {
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.titre {
    margin-top: 30vh;
    margin-left: 7vw;
    position: fixed;
    font-weight: bold;
    font-size: 4.5em;
    width: 50px;

}

.firstPage .btn-secondary {
    margin-left: 20vw;
    height: 20vh;
    width: 30vw;
    margin-top: 3vh;
}

a{
    color: #FFFFFF;
}

.form {
    font-weight: bolder;
    text-align: left;
    margin-left: 20vw;
    margin-top: 20vh;
}

.element{
    justify-content: center;

}

.body_card{
    background-image: url("/assets/img/bg_layout.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    height: 95vh;
}

.contact_pic{
    border: 20px solid #FFFFFF;
}

.contact_table .gros{
    font-size: 2em;
}

.gros_titre{
    font-size: 3em;
}

.retours {
    margin-left: 15vw;
}

a:hover{
    color: #FFFFFF;
    text-decoration: none;
}

.shiny-btn {
    width: 100vh;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 40px 90px;
    background-color: #C33933;

    transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 500ms linear;
    background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1296px" height="768px" viewBox="0 0 1296 768" enable-background="new 0 0 1296 768" xml:space="preserve"><g><polygon fill="#FFFFFF" points="766.6,1.2 -0.2,768 200.7,768 967.5,1.2 "/></g><g><polygon fill="#FFFFFF" points="1094.8,1.2 328,768 528.9,768 1295.7,1.2 "/></g></svg>');
    background-size: contain;
    background-position: -200px center;
    background-repeat: no-repeat;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 5vh;
    margin-left: 10vh;
}

.shiny-btn:hover {
    transform: scale(1.1);
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shiny-btn:active {
    transform: scale(1);
    background-position: 500px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

summary{
    color: #c33933;
}

.codeuuid {
    background-color:#2A2A2A!important;
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'><path d='M36 0H0v36h36V0zM15.126 2H2v13.126c.367.094.714.24 1.032.428L15.554 3.032c-.188-.318-.334-.665-.428-1.032zM18 4.874V18H4.874c-.094-.367-.24-.714-.428-1.032L16.968 4.446c.318.188.665.334 1.032.428zM22.874 2h11.712L20 16.586V4.874c1.406-.362 2.512-1.468 2.874-2.874zm10.252 18H20v13.126c.367.094.714.24 1.032.428l12.522-12.522c-.188-.318-.334-.665-.428-1.032zM36 22.874V36H22.874c-.094-.367-.24-.714-.428-1.032l12.522-12.522c.318.188.665.334 1.032.428zm0-7.748V3.414L21.414 18h11.712c.362-1.406 1.468-2.512 2.874-2.874zm-18 18V21.414L3.414 36h11.712c.362-1.406 1.468-2.512 2.874-2.874zM4.874 20h11.712L2 34.586V22.874c1.406-.362 2.512-1.468 2.874-2.874z' fill='%234c4c4c' fill-opacity='0.45' fill-rule='evenodd'/%3E%3C/svg%3E");
}