<form method="post" action="{{ path('start_up_delete', {'id': start_up.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette startup?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ start_up.id) }}">
    <button class="btn btn-danger ml-5"><i class="fas fa-trash-alt"></i> Supprimer</button>
</form>
