{% extends 'layout.html.twig' %}

{% block title %}COP LABO{% endblock %}

{% block titre %}{{ startUp.name }}{% endblock %}

{% block body %}
    <form class="form">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </form>
{% endblock %}
